*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;    
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: darkgoldenrod;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left:25px;
    padding-right: 25px;
}

row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 img{
    max-width: 200%;
    padding: 50px 0;  
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;  
    color: white;
    padding: 8px 30px;
    margin: 15px 0;
    border-radius: 30px; 
    transition: background 0.7s; 
}

.btn:hover{
    background:#166272;
}

.header{
    background: radial-gradient(#fff,#C6DEE3);
}
.header .row{
    margin-top: 30px;
}

p{
    font-size: 120%;
}

table{
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    font-size: 110%;
}
 
caption{
    color: darkgoldenrod;
    font-size: 200%;
}



#item-menu{
    font-size: 130%;
    
}

#item-menu td{
    background:#fff; 
}



.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    cursor: pointer;
}

#contb {
    padding-top: 10px;
    border-spacing: 10px;
    font-size: 110%;
    margin: 50px; 
    flex: 1;
    text-align: left; 
}

#contb ul{
    display: inline-block;
    list-style-type: none;
}

#contb ul li{
    display: inline-block;
    margin-right: 20px;
}


