h1 {
    color: dimgrey;  
}

p{
    font-size: 120%;
}

table{
    font-family: serif;
    border-collapse: collapse;
    font-size: 110%;
}
 
caption{
    color: darkgoldenrod;
    font-size: 200%;
}

#item-menu tr:last-child td:last-child { 
    border-color: #ffffff;
}

#item-menu{
    font-size: 130%;
}

#menu a{
    background-image: url(Pics/menu-button.gif);
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 14px;
    font-family: serif;
    
    background-image: url('Pics/menu-button-hover.gif');
    background-repeat: round;
    display: block;
    width: 60px;
    height: 25px;
    padding-left: 24px;
    padding-top: 10px;
}

#menu a:hover{
    background-image: url(Pics/menu-button-hover.gif); 
    color: #ffffff; 
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    cursor: pointer;
}

#contb {
    
    font-size: 110%;
}